<head>
    <%- include("./partials/head"); -%>
</head>

<body>
    <div class="container">
        <div id="main_page">
            <h1>Hello</h1>
            <div id="links">
                <p>Click <a href="/login">here</a> to go to the login page.</p>
                <p>Click <a href="/register">here</a> to go to the register page.</p>
            </div>
        </div>
    </div>
    <footer>
            <%- include("./partials/footer"); -%>
    </footer>
</body>