<head>
    <%- include("./partials/head"); -%>
</head>
<body>
    <h1>Login</h1>
    <div id="login_page">
            <% if (messages.error) { %>
                <div id="error">
                    <%= messages.error %>
                </div>
            <% } %>
        <form action="/login" method="POST">
            <div>
                <label for="email">Email </label>
                <input type="text" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>

        <p>Go to <a href="/register">register</a> page</button>
    </div>
</body>