<head>
    <%- include("./partials/head"); -%>
</head>

<body>
    <h1>Register</h1>
    <div id="register_page">
        <form action="/register" method="POST" class="my-4">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="email">Email </label>
                <input type="text" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-success">Register</button>
        </form>

        <p>Go to <a href="/login">login</a> page.</p>
    </div>
</body>