<head>
    <%- include("./partials/head"); -%>
</head>

<body>
    <div class="container">
        <div id="secret_page">
            <h1>Secret Page</h1>
            <p>This is a secret page.</p>

            <p>Click to go <a href="/">home</a></p>
        </div>
    </div>
    <footer>
            <%- include("./partials/footer"); -%>
    </footer>
</body>